.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.image{
    width: 100%;
}
#start,#status{
    font-size: 22px;
}
.modal-body{
    text-align: left;
    font-size: 20px;
}
